
/* 页面框架 */
body {
	padding: 20px 60px 20px 60px;
	background-color: #f2e5c8;
}

/* 换行样式 */
.return {
	width: 100%;
	height: 1px;
	background-color: black;
}

/* 内容样式 */
.content {
	/*border: 2px solid green;*/
	line-height: 1.8;
	font-family: "Lucida Console", "Courier New";
	font-size: 18;
}


/* 区块元素样式 */

	.word {
		display: inline;
	}
	.word .return {
		display: none;
	}

	.time {
		display: none;
	}

	.pronunciation {
		display: inline;
	}
	.pronunciation .space {
		display: inline;
	}

	.meaning {
		
	}

	.sentences {
		
	}

	.buttons {
		display: none;
	}
	
/* end */


/* 基本元素样式 */

	h1 {
		display: inline;
	}

	.blue {
		color: blue;
	}

	.red {
		color: red;
	}

	.grey {
		color: grey;
	}
	
	.black {
		color: black;
	}

/* end */
